.prefooter{
    background: $main-color;
    padding-top: 15px;
    .footer-logo{
        margin-bottom: 1em !important;
        img{
            width: 250px;
            height: auto;
        }
        
    }
    .footer-address{
        margin-bottom: 1em !important;
    }

    ul.footer-contacts{
        text-align: center;
        li{
            display:inline;
            margin: 5px 10px;
            white-space: nowrap;
            a, i{
                color: #ffffff !important;
            }
            a:hover, a:hover + i{
                color: $secondary-color !important;
            }
        }
    }
}