.products-list .vitacen-content-product{
    width: 100%;
    margin: 0;
    border-bottom: 1px solid $black;
    padding: 15px 0;
}

.row.vitacen-product-listing{
    [class*="col-"]{
        margin: 0 auto;
        text-align: center;
    }
    .button{
        margin: 0 5px 5px 0 !important;
    }
    .vitacen-medida, .vitacen-marca, .vitacen-diseno, .vitacen-precio, .vitacen-buttons{
        text-align: center;
    }
    .vitacen-precio{
        margin: 10px 0;
    }
    .vitacen-buttons{
        margin: 10px 0;
    }
    @include respond-above(sm) {
        display: flex;
        align-items: center;
        margin: 0;
        [class*="col-"]{
            padding: 0 5px !important;
        }
        .vitacen-medida, .vitacen-marca, .vitacen-diseno{
            text-align: left;
        }
        .vitacen-buttons{
            text-align: right;
            margin: 0;
        }
    }
}

.main-products-loop{
    >div.filter-wrap{
        display: none;
    }
}