.shop-buttons-container{
    .button-wrap.inline-block{
        width: 100%;
        max-width: 150px;
    }

    .shop-button-contact{

    }

    .shop-button-details{
        display: none;
    }
}
