.content{
    z-index: 2;
}
.subslider{
    @include respond-above(sm) {
        max-width: 1024px;
        margin: 0 auto !important;
    }
    .subslider-box{
        text-align: center;
        width: 100% !important;
        padding-top: 100%;
        margin: 0 auto;
        position: relative;
        margin: 15px 0;
    }
    
    .subslider-box-content{
        position: absolute;
        width: 100%;
        bottom: 10%;
        left: 0; right: 0;
    }
}

ul.home-contacts{
    list-style: none;
    padding: 0;
    li{
        a:hover{
            color: $secondary-color !important;
        }
    }
}