/* admin bar */
.menupop .et-logo, .wp-menu-name .et-logo {
    max-width: 70px;
    vertical-align: -2px;
}

.wp-menu-name .et-logo {
    margin-left: 10px;
}

#wpbody-content > .et-message {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin:  5px 15px 2px;
    border: none;
    border-left: 4px solid #0b9f17;
}
#wpbody-content > .et-message:before {
    left: 15px;
}
#wpbody-content > .et-message.et-error {
    border-left-color: #c62828;
}
#wpbody-content > .et-message.et-warning {
    border-left-color: #f57f17;
}
#wpbody-content > .et-message.et-info {
    border-left-color: #1565c0;
}

#wpbody-content > .et-message p {
    margin-bottom: 10px;
}
#wpbody-content > .et-message p.submit {
    padding: 0;
}
#vc_license-activation-notice {
    display: none;
}
/* .et-loader */
.et-loader {
  position: relative;
  margin: 0 auto;
  width:  30px;
  height:  30px;
}
.loader-circular {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.loader-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke: #888;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes et-fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes et-toTop {
    0% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes et-toTopSecond {
    0% {
        top: calc(50% + 30px);
    }
    100% {
        top: 50%;
    }
}

/* alerts */

.et-message,
div.et-message {
    padding: 10px 15px 10px 35px;
    margin: 0 0 20px;
    font-size: 14px;
    position: relative;
    line-height: 1.5;
    border: 1px solid #e1e1e1;
    border-top: 2px solid #0b9f17;
    background: #fff;
    box-sizing: border-box;
    text-align: start;
}

.et-message.et-icon {
    border: none;
    padding: 0;
    font-size: inherit;
    margin: 0;
}

.et-message:not(.et-icon):before {
    content: "\f534";
    font-family: dashicons;
}

.et-message:not(.et-icon):before {
    position:  absolute;
    left: 15px;
    color: #0b9f17;
}

.et-message.et-error:not(.et-icon):before {
    color: #c62828;
}

.et-message.et-error {
    border: 1px solid #e1e1e1;
    border-top: 2px solid #c62828;
}

.et-message.et-warning:not(.et-icon):before {
    color: #f57f17;
}
.et-message.et-warning {
    border: 1px solid #e1e1e1;
    border-top: 2px solid #f57f17;
}

.et-message.et-info:not(.et-icon):before {
    color: #1565c0;
}
.et-message.et-info {
    border: 1px solid #e1e1e1;
    border-top: 2px solid #1565c0;
}

.et-message p {
    margin: 0 0 10px !important;
}
.et-message p:last-child {
    margin-bottom: 0 !important;
}

.et-message ul {
    margin: .5em 0;
}

.et-message li {
    margin-bottom: .5em;
}

.et-message a.et-message-close {
    top: 0;
    right: 15px;
    padding: 0;
    margin-top: -10px;
    font-size: 13px;
    line-height: 1.2;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.et-message a.et-message-close:before {
    position: relative;
    top: 18px;
    left: -20px;
    transition: all .1s ease-in-out;
}

/* Menu image space */
#toplevel_page__options .wp-menu-image img {
    padding-top: 0;
}

/* Xstore panel */

.etheme-page-wrapper {
    background:  #fff;
    max-width:  1140px;
    margin: 20px 15px 0;
    color: #555;
    font-size: 14px;
    line-height: normal;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
}

.etheme-page-header {
    position: relative;
    background:  #222;
    padding: 30px 30px 35px;
}

.etheme-page-header .theme-version {
    margin-top: 5px;
    transition: all .3s;
}

.etheme-page-header:not(:hover) .theme-version {
  opacity: 0;
  visibility: hidden;
}

.etheme-page-header .activate-note {
    position: static;
    display: inline-block;
    margin-top: 5px;
}

.etheme-page-wrapper .etheme-page-title {
    font-size: 42px;
    font-weight: 400;
    margin: 0 0 4px 0;
    color:  #fff;
}

.etheme-page-header p {
    margin: 0;
    font-size: 14px;
    color: #e1e1e1;
    padding-right: 30px;
    overflow: hidden;
}

.etheme-page-nav {
    background-color: #333;
    white-space: nowrap;
}
.etheme-page-nav ul {
    margin: 0;
    padding: 0 35px;
}

.etheme-page-nav ul li {
    display:  inline-block;
    float: left;
    margin: 0;
}

.et-nav-menu:before,
.et-nav-portfolio:before,
.et-nav-speed:before,
.et-nav-general:before,
.et-nav-social:before,
.et-nav-support:before,
.et-nav-typography:before,
.et-nav-documentation:before {
    display: inline-block;
    margin-right: 5px;
    font-size: .9em;
    font-family: 'xstore-admin-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.et-nav-menu:before {
    content: "\e4";
}
.et-nav-portfolio:before {
    content: "\e12";
}
.et-nav-speed:before {
    content: "\e17";
}
.et-nav-general:before {
    content: "\e2";
}
.et-nav-social:before {
    content: "\e13";
}
.et-nav-typography:before {
    content: "\e8";
}
.et-nav-support:before {
    content: "\e27";
}
.et-nav-documentation:before {
    content: "\e26";
}

.etheme-page-nav ul li a {
    position:  relative;
    text-decoration:  none;
    color:  #fff;
    font-size:  12px;
    padding: 14px 20px;
    display:  inline-block;
    transition: all .2s ease-in-out;
    box-shadow: none;
    outline: none;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-transform: uppercase;
}

.etheme-page-nav ul li.inactive a {
    opacity: .4;
    pointer-events: none;
    background-color: transparent !important;
}

.etheme-page-nav ul li .active, 
.etheme-page-nav ul li a:hover {
    color:  #fff;
    background: #555;
    outline: none;
}

.etheme-page-nav ul li a:after {
    content:  '';
    border: solid 8px transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    bottom: -10px;
    left:  50%;
    transform:  translateX(-50%);
    transition:  inherit;
    opacity:  0;
    visibility:  hidden;
}

.etheme-page-nav ul li .active:after, 
.etheme-page-nav ul li a:hover:after {
    opacity:  1;
    visibility:  visible;
    bottom: 0;
}

.etheme-page-content {
    padding: 40px 35px;
}

.etheme-page-content p {
    margin: 0 0 20px;
    font-size: 14px;
}

.etheme-page-content ul {
    font-size: 14px;
}

.etheme-page-content a{
    box-shadow: none;
    text-decoration-line-skip: none;
}

.etheme-page-content ul,
.etheme-page-content ol,
.etheme-page-content a:hover {
    color: #888;
}

.etheme-page-content ul span,
.etheme-page-content ol span {
    color: #222;
    cursor: default;
}
.etheme-page-content a {
    color: #222;
}

.et-col-7 {
    position: relative;
    width: 65.33333333%;
    float:  left;
    padding: 0 30px;
    box-sizing:  border-box;
}

.et-col-5 {
    position: relative;
    width:  34.66666667%;
    float:  left;
    padding:  0 30px;
    box-sizing:  border-box;
}

.et-col-5:before {
    position: absolute;
    content: '';
    left: 0;
    border-left: 1px solid #e1e1e1;
    height: 100%;
    top: 0;
}

.et-row {
    margin:  0 -30px;
    box-sizing:  border-box;
}
.etheme-page-nav:before,
.etheme-page-nav:after,
.et-row:before, 
.et-row:after,
.etheme-videos:before, 
.etheme-videos:after {
    content:  '';
    display:  table;
    clear:  both;
}

.etheme-page-wrapper h3 {
    font-size:  24px;
}
.etheme-page-wrapper h3 + .et-message {
    margin-top: 20px;
}
.etheme-page-wrapper h1,
.etheme-page-wrapper h2,
.etheme-page-wrapper h3,
.etheme-page-wrapper h4,
.etheme-page-wrapper h5 {
    color: #222;
    font-weight: 400;
    margin: 0 0 5px;
}

/* activate - deactivate form */

.etheme-page-wrapper form:not(#et_create-child_theme-form) {
    margin-bottom: 20px;
}

.etheme-purchase span {
    color: #222;
    padding-left: 5px;
    display: inline-block;
}

/* tips */

/* mtips */
.mtips {
    position: relative;
    z-index: 1000;
}

.mtips.mtips-lg span.mt-mes {
  white-space: normal;
  height: auto;
  width: 250px;
  line-height: 1.4;
}

.mtips span.mt-mes {
    position: absolute !important;
    background: #fff;
    white-space: nowrap;
    color: #222;
    padding: 7px 12px !important;
    top: 100%;
    font-weight: 300;
    margin-top: 10px;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    font-size: 12px;
    height: 11px;
    line-height: 11px;
    box-sizing: content-box;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
}

.mtips:after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 5px);
    display: none;
    border: 5px solid transparent;
    border-bottom-color: #fafafa;
}

.mtips-left:after {
  left: auto;
  right: 100%;
  bottom: calc(50% - 5px);
  margin-bottom: 0;
  margin-right: -3px;
  border-top-color: transparent;
  border-left-color: #fafafa;
}

.mtips.mtips-right span.mt-mes {
    top: 50%;
    left: 130%;
    transform: none;
    margin-top: -13px;
    box-sizing: content-box;
}

.mtips.mtips-right:after {
    top: 50%;
    left: 130%;
    margin-top: -5px;
    margin-left: -10px;
    border-color: transparent;
    border-right-color: #fafafa;
}

.mtips.mtips-top:after {
    top: auto;
    bottom: 100%;
    border-bottom-color: transparent;
    border-top-color: #fff;
}

.mtips.mtips-top span.mt-mes {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

.mtips:hover {
    z-index: 1001;
}

.mtips:hover:after, .mtips:hover span.mt-mes {
    display: block;
}

/* vc mtips */
#vc_ui-panel-edit-element .mtips span.mt-mes, #vc_ui-panel-edit-element .mtips span.mt-mes:focus, #vc_ui-panel-edit-element .mtips span.mt-mes:hover {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1) !important;
}

/* display */
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

/* content */ 
.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

/* align */
.align-items-center {
    align-items: center;
}

/* colors */
.orange-color {
    color: #f57f17;
}
.red-color {
    color: #c62828;
}
.green-color {
    color: #0a9f17;
}

/* text */
.text-center {
    text-align: center;
}
.text-right {
    text-align: end;
}
.text-left {
    text-align: start;
}
.text-uppercase {
    text-transform: uppercase;
} 

/* et-button */

.et-button,
a.et-button {
    position: relative;
    padding: 9px 20px;
    min-height: unset;
    display:  inline-block;
    height:  auto;
    background:  #222;
    color:  #fff;
    text-transform:  uppercase;
    border: 1px solid #222;
    cursor:  pointer;
    transition:  all .2s ease-in-out;
    text-decoration: none;
    line-height: normal;
    font-size:  12px;
    box-shadow: none;
    border-radius: 3px;
}

.et-button-lg,
a.et-button-lg {
    padding: 12px 25px;
    font-size: 14px;
}

.et-button-lg .dashicons,
a.et-button-lg .dashicons {
    font-size: 1.2em;
}

.et-button.no-transform {
    transform: none !important;
}

.et-button.hidden {
    display: none;
}

.et-button-grey,
a.et-button-grey {
    background-color: #f7f7f7;
    border-color: #e1e1e1;
    color: #222;
}

.et-button-grey2,
a.et-button-grey2 {
    background-color: #e1e1e1;
    border: none;
    color: #222;
    backface-visibility: hidden
}

.et-button-dark-grey,
a.et-button-dark-grey {
    background-color: #888;
    border-color: #888;
    color: #fff;
}

.et-button-green,
a.et-button-green {
    background: #0b9f17;
    border-color: #0b9f17;
}

.et-button-active,
a.et-button-active {
    background-color: #c62828;
    border-color: #c62828;
}

.et-button + .et-button {
    margin-left: 5px;
}

a.woo-button {
    background-color: #96588a;
    border-color: #96588a;
}

.et-button:hover,
a.et-button:hover,
.et-button:focus,
a.et-button:focus,
.et-button:active,
a.et-button:active,
.et-button:hover:focus,
a.et-button:hover:focus {
    color:  #fff;
    outline: none;
    transform: translateY(-3px);
}

.et-button-grey:hover,
a.et-button-grey:hover,
.et-button-grey:focus,
a.et-button-grey:focus,
.et-button-grey:active,
a.et-button-grey:active,
.et-button-grey:hover:focus,
a.et-button-grey:hover:focus {
    color: #222;
}

.et-button-grey2:hover,
a.et-button-grey2:hover {
    color: #fff;
    background-color: #888;
}

.et-open-installation-video {
    /*display: inline-flex;*/
    /*align-items: center;*/
    border-radius: 30px;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    z-index: 0;
}

.et-open-installation-video span {
    z-index: 1;
}

.et-open-installation-video:after {
    display: inline-block;
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    /*    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;*/
    /* border: 2px solid #e1e1e1; */
    /*opacity: 0;*/
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    background-color: rgba(255, 255, 255, 0.15);
    animation: video-button-animation-after 2s infinite linear alternate;
}

.et-open-installation-video:before {
    display: inline-block;
    /* content: attr(data-text); */
    position: absolute;
    color: #222;
    z-index: 1;
    left: 0;
    right: 0;
    opacity: 0;
    /*transition: all 0.75s ease 0s;*/
    animation: video-button-animation-before 2s infinite linear alternate;
/*     animation-delay: .5s; */
}

/*.et-open-installation-video:after {
    animation: video-button-animation-after 2s infinite;
}*/

@keyframes video-button-animation-after {
    0%, 30% {
        height: 0%;
    }
    75%, 100% {
        height: 300%;
    }
}

@keyframes video-button-animation-before {
    0%, 30% {
        opacity: 0;
    }
    75%, 100% {
        opacity: 1;
    }
}

.et-button .et-loader {
    position:  static;
    width:  auto;
    height:  auto;
    opacity:  0;
    visibility:  hidden;
}

.et_item-popup .et_save-changes .loader-circular {
    max-width: 100%;
    max-height: 100%;
}

.et-button:not(.et-button-grey) .loader-path {
    stroke:  #fff;
}

.et-button.loading,
.et-button.dtbaker_loading_button_current {
    transition: none;
    color:  transparent !important;
}

.et-button.loading img,
.et-button.dtbaker_loading_button_current img {
    opacity: 0;
}

.et-button.loading .et-loader,
.et-button.dtbaker_loading_button_current .et-loader {
    opacity:  1;
    visibility:  visible;
}

/* button with arrow */
.et-button-arrow {
    transform: none !important;
}
.et-button-arrow .arrow-icon {
  transition: transform 0.3s ease;
  vertical-align: middle;
  margin: -2px 0;
}
.et-button-arrow .arrow-icon--circle {
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
.et-button-arrow:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}
.et-button-arrow:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}
.et-button-arrow.arrow-reverse .arrow-icon {
  transform: rotateY(180deg);
}
.et-button-arrow.arrow-reverse:hover .arrow-icon {
  transform: rotateY(180deg) translate3d(5px, 0, 0);
}

.last-button {
    margin-bottom: 20px;
}
.fright {
    float: right;
}
.last-item {
    margin-bottom: 40px !important;
}

.et-button .dashicons {
    width: auto;
    height: auto;
    font-size: inherit;
    padding-top: 2px;
}

/* et-title */
.etheme-page-wrapper .et-title,
.et-sidebar h4 {
    margin-bottom: 12px;
}

/* et-sidebar */

.et-sidebar h4 {
    text-transform:  uppercase;
}

.et-sidebar h3 {
    margin-bottom:  20px;
}

.et-sidebar li a {
    color:  #888;
    font-size:  14px;
    text-decoration: none;
}

.et-sidebar li a:hover {
    color:  #555;
}

.et-sidebar ul {
    margin:  0;
    margin-bottom: 23px;
}

.et-sidebar li {
    margin-bottom:  8px;
}

/* System requirements */

.system-requirements {
    color: #888 !important;
    width:  100%;
    text-align:  start;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.system-requirements thead tr:first-child th {
    border-bottom:  1px solid #e1e1e1;
    font-size: 16px;
    color:  #222;
    padding-bottom: 12px;
    text-align: start;
}
.system-requirements th, 
.system-requirements td {
    padding: 6px 0;
    font-weight: 400;
}

.system-requirements thead tr:first-child th {
    padding-top:  0;
}

.system-requirements tbody tr:first-child td, 
.system-requirements tfoot tr:nth-child(2) td {
    padding-top: 14px;
}

.system-requirements .dashicons-warning,
.system-requirements tr.warning td:last-child {
    color: #c62828;
}

.system-requirements tr.warning .dashicons {
    color: inherit;
}

.system-requirements tr.warning.min td:last-child {
    color: #f57f17;
}

.system-requirements .dashicons-yes:not(.dashicons-warning) {
    color: #0b9f17;
}

/* instagram */

.etheme-instagram-connected input[type=text], 
.etheme-instagram-settings input[type=text], 
.etheme-instagram-settings select {
    border-radius: 0;
    box-shadow: 0 0 0 #efefef;
    height: 36px;
    line-height: 36px;
    margin: 0;
    vertical-align: middle;
    border-color: #e1e1e1;
    background-image: none;
}

.etheme-instagram-settings select:focus {
  color: #222;
  border-color: #e1e1e1;
  box-shadow: 0 0 0 #efefef;
}

.etheme-instagram-settings select {
  -webkit-appearance: menulist;
}

.etheme-instagram-settings input[type=text] {
    width: 120px;
}

.etheme-instagram-manual-wrapper {
    display: inline;
}

.etheme-instagram-manual-wrapper + .et-message {
    margin-top: 20px;
}

.etheme-instagram-manual {
    margin-left: 10px;
}

.etheme-instagram-settings .et-button,
.etheme-manual-btn {
    vertical-align: middle;
}

.etheme-instagram-connected input[type=text] {
    min-width: 280px;
}

.etheme-manual-btn, 
#instagram_time_type {
    margin-left: 3px;
    margin-right: 3px;
}

.user-img, .user-info {
    float: left;
}

.user-img img {
    max-width: 90px;
}

.user-info {
    line-height: 1.7;
}

.user-info > div:not(:last-of-type) {
    margin-bottom: 5px;
}

.etheme-user:before,
.etheme-user:after {
    content: '';
    display: table;
    clear: both;
}
.etheme-user + .etheme-user {
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
}

.etheme-user {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.user-remove {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.user-remove:hover {
    color: #222;
}

.user-remove:hover:after {
    display: block;
}

/* etheme video */

.etheme-videos {
    margin-left: -15px;
    margin-right: -15px;
}

.etheme-video {
    width: 33.33%;
    float: left;
    margin-bottom: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}
.etheme-video iframe {
    max-width: 100%;
}

/* support includes */

.support-blocks {
    padding:  0;
    margin: 50px 0;
}

.support-blocks:after {
    display: block;
    content: "";
    clear: both;
    width: 100%;
}

.support-blocks li {
    flex:  1;
    width:  33.33%;
    padding: 0;
    float: left;
    text-align: center;
    transition: 0.3s all ease-in-out;
    margin-bottom:  0;
}

.support-blocks li img{
    display: block;
    margin: 0 auto 20px;
}


.support-blocks li a {
    display:inline-block;
    text-decoration: none;
    font-size: 16px;
}

.support-includes:after {
    content: "";
    clear: both;
    display: block;
}
.support-includes {
    display:  flex;
    margin: 0px -5px 45px;
}
.support-includes > div{
    flex:  1;
    padding: 0 5px;
}

.support-includes ul {
    padding: 0;
    margin:  0;
}

.support-includes span {
    font-size: 14px;
}

.support-includes p {
    color: #222;
    padding-bottom: 10px;
    border-bottom:  1px solid #e1e1e1;
    margin-bottom: 5px;
    text-align: start;
}

.support-includes li {
    padding: 5px 0;
    margin:  0;
    text-align: start;
}

.support-includes li a {
    color: #222;
    text-decoration: none;
}

.support-includes li:last-child {
    border-bottom: none;
}

.support-includes strong {
    color: #c62828;
    text-transform: uppercase;
}

.support-includes li:before {
    content: "\f147";
    color: #0b9f17;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 5px 0 0;
    top: 1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    vertical-align: top;
}

.support-includes .excludes li:before {
    content: "\f158";
    color: #c62828;
}

/* etheme changelog */

.etheme-changelog {
    padding: 0 30px;
}
.version-update {
    border:  1px solid #e1e1e1;
    color: #888;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: end;
}

.version-update h4 {
    font-size: 18px;
    margin:  0;
    text-align: end;
    float: left;
}

.version-update ul {
    flex-basis:  100%;
    border-top:  1px solid #e1e1e1;
    padding-top: 17px;
    padding-left: 0;
    margin-bottom: 0;
    text-align: end;
}
.version-update li {
    text-align: start;
}

.version-update li:last-child,
.version-update:last-child {
    margin-bottom:  0;
}

/* hook to normal footer on change log */
._page_et-panel-changelog #wpfooter {
    position:  static;
}

/* submenu items */
#toplevel_page_et-panel-welcome a[href*=builder]:after,
#toplevel_page_et-panel-welcome a[href*=single_product]:after {
    content: 'new';
    margin-left: 3px;
    background: #0b9f17;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    padding: 3px 2px 2px 3px;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 1;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .etheme-page-nav ul li a {
        max-width: 120px;
        padding: 10px 14px;
    }
}

@media only screen and (max-width: 1200px) {
    .etheme-page-header,
    .etheme-page-nav ul,
    .etheme-page-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .etheme-page-nav ul li a {
        max-width: unset;
    }

    .etheme-page-wrapper .etheme-page-title {
        font-size: 36px;
    }

    .etheme-page-header .activate-note {
        margin-top: 5px;
    }

    .etheme-page-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .et-col-5, .et-col-7 {
        width: 100%;
        padding: 0;
    }

    .et-col-5:before {
        display: none;
    }

    .et-row {
        margin: 0;
    }

    .etheme-page-nav ul li {
        position: relative;
        display: block;
        float: none !important;
    }
    .etheme-page-nav ul li a {
        display:  block;
        white-space: normal;
    }
    .etheme-page-nav ul li a:after {
        bottom: auto;
        right: -10px;
        border-bottom-color: transparent;
        border-right-color: #fff;
        top: 50%;
        left:  auto;
        transform:  translateY(-50%);
    }
    .etheme-page-nav ul li a.active:after,
    .etheme-page-nav ul li a:hover:after {
        right: 0;
        bottom: auto;
    }
    .etheme-page-nav ul li a:before {
        font-size:  16px;
    }

    .et-row {
        width: calc(100% - 180px);
    }
    .etheme-page-nav ul {
        padding: 0;
    }
    .etheme-page-wrapper {
        display:  flex;
        flex-wrap:  wrap;
    }

    .etheme-page-header {
        flex-basis:  100%;
    }
    .etheme-page-nav {
        width: 180px;
    }
}

.etheme-theme-info{
    background-color: #222;
    padding: 40px;
    position: relative;
    font-size: 13px;
    color: #fff;
}
.activate-note{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #c62828;
    border-radius: 5px;
    color: #fff;
    padding: 4px 5px 3px;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 1;
}
.activate-note.activated{
    background: #0a9f17;
}

.theme-logo, 
.theme-version{
    display: block;
    text-align: center;
}
.theme-version {
    color: #fff;
    font-size: 12px;
}

@media only screen and (max-width: 960px) {
    .etheme-page-nav {
        width: 50px;
    }
    .etheme-page-header .theme-logo img {
        max-width: 50px;
    }
    .etheme-page-nav ul li a {
        position: static;
        font-size:  0;
        width: 100%;
        text-align: center;
        padding-left:  0;
        padding-right:  0;
    }
    .etheme-page-nav ul li a:before {
        margin-right: 0;
        margin-left: 0;
    }
    .et-row {
        width: calc( 100% - 50px);
    }
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* Custom styles in composer                                                                              */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

.vc_shortcodes_container>.wpb_element_wrapper>.vc_container_for_children + .vc_admin_label {
    margin-left:  55px;
}

.vc_shortcodes_container>.wpb_element_wrapper>.vc_container_for_children {
    margin-bottom:  10px !important;
}

.vc_properties-list select {
    max-width: unset;
}

.et_css-query:not(.et_css-query-global) .vc_background-image,
.et_css-query:not(.et_css-query-global) .vc_background-style ~ label {
    display: none;
}


/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* Custom Tabs in composer                                                                            */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

.wpb_et_tabs {
    background: transparent!important;
    border: 1px dashed #dedede;
}

.wpb_et_tabs > .vc_controls {
    opacity: 1;
    visibility: visible;
    position: relative;
    height: 45px;
    z-index: 10;
}

.wpb_et_tabs > .vc_controls .vc_control-btn-prepend {
    display: none;
}


.wpb_et_tab > div > .vc_tta-panel-body > .vc_controls {
    opacity: 1;
    visibility: visible;
    position: relative;
    height: 45px;
}

.composer-switch .composer-inner-switch {
    vertical-align: 0;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* [end] Custom Tabs in composer                                                                      */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */


/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* Menu styles                                                                                        */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

.field-level-0,
.field-level-1,
.field-level-2,
.field-level-3,
.field-level-4 {
    display: none!important;
}

.menu-item-depth-0 .menu-item-settings .field-level-0,
.menu-item-depth-1 .menu-item-settings .field-level-1,
.menu-item-depth-2 .menu-item-settings .field-level-2,
.menu-item-depth-3 .menu-item-settings .field-level-3,
.menu-item-depth-4 .menu-item-settings .field-level-4 {
    display: block!important;
}

/* Menu items styling */
.menu-item .item-type {
    cursor: pointer;
}
.et_modal-opened .popup-back,
.et-saving .popup-back {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 11;
}
.et_modal-opened .menu-item-settings {
    position: static;
}
.et_modal-opened {
    overflow: hidden;
}
.et_modal-opened #nav-menus-frame:before,
.et_modal-opened #nav-menus-frame:before {
    visibility: visible;
    opacity: 1;
}
.et_modal-opened #menu-to-edit {
    position: relative;
}

.et_item-popup {
    position: fixed;
    z-index: 12;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    background: #fff;
    border: 2px solid #808084;
    box-shadow: 0px 0px 40px #737373;
    transition: all 0.3s ease-in-out;
    max-width: 480px;
    max-height: 800px;
    overflow: auto;
}
.et_popup-content {
    position: relative;
    padding: 30px 40px;
    overflow: hidden;
}

.et_item-popup.popup-opened {
    opacity: 1;
    visibility: visible;
}

.et_item-popup .et_modal-header,
.et_item-popup .et_modal-footer {
    display: block;
    background: #ededed;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: end;
    z-index: 1;
}
.et_item-popup .title-heading {
    position: absolute;
    left: 20px;
    line-height: 22px;
    font-size: 20px;
    color: #666;
}
.et_item-popup .et-close-modal {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    pointer-events: all;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in-out;
}
.et_item-popup .et-close-modal:hover {
    transform: scale(1.1);
}
.et_item-popup .et-close-modal:before, .et_item-popup .et-close-modal:after {
    content: "";
    display: block;
    height: 1px;
    width: 20px;
    background: #000;
    position: relative;
    right: 0;
    top: 10px;
    transition: all 0.1s ease-in-out;
}
.et_item-popup .et-close-modal:before {
    transform: rotate(45deg);
}

.et_item-popup .et-close-modal:after {
    transform: rotate(-45deg);
    top: 9px;
}
.et_item-popup .et_save-changes {
     position: relative;
     padding: 10px;
     line-height: 1;
     height: auto;
     text-shadow: none;
}

.et_item-popup .et_save-changes .et-loader {
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}

.et_item-popup .et_save-changes .loader-path {
    stroke: #fff;
}
.et_item-popup.et-saving .et_save-changes {
    color: transparent !important;
}
.et_item-popup:not(.et-saving) .et_save-changes .et-loader {
    opacity: 0;
    visibility: hidden;
}
.nmi-other-fields {
    /*padding: 20px 0;*/
    clear: both;
}

.nmi-upload-link {
    padding:10px 0;
    clear: both;
}

.nmi-current-image  img {
    padding:3px;
    border:1px solid #efefef;
    margin: 10px 0 20px;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* [end] Menu styles                                                                                  */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* MCE buttons                                                                                        */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

.et-shortcodes-icon {
    background: url(../images/icon-etheme.png) no-repeat center center !important;
    background-size: contain!important;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* [end] MCE buttons                                                                                   */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */


/* vc config */

.et-td-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.et-td-content {
    display: flex;
    clear: both;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    padding: 0px 0px 20px;
    border: 1px solid #e1e1e1;
    background: #f5f5f5;
    border-radius: 5px;
}

.et-td-content .vc_column {
    padding-top: 15px;
}

.et-td-content .vc_column:only-of-type {
    margin-bottom: -5px;
}

.et_element_title {
    margin-bottom: 15px;
    color: #222;
    font-size: 16px;
}

.et_element_subtitle {
    margin-bottom: 10px;
    display: inline-block;
}

/* vc fix colors */
body #vc_ui-panel-edit-element select, 
body #vc_ui-panel-edit-element .vc_autocomplete-field input, 
body #vc_ui-panel-edit-element .vc_autocomplete-field select, 
body #vc_ui-panel-edit-element .vc_autocomplete-field textarea,

body #vc_ui-panel-edit-element .textfield,
body #vc_ui-panel-edit-element textarea,
body #vc_ui-panel-edit-element .wpb-textinput, 
body #vc_ui-panel-edit-element .wpb_el_type_font_container input[type=text], 
body #vc_ui-panel-edit-element .vc_autocomplete-inline {
    background-color: #fff;
}

body #vc_ui-panel-edit-element select,  
body #vc_ui-panel-edit-element .vc_autocomplete-field select, 
body #vc_ui-panel-edit-element .vc_autocomplete-field textarea,

body #vc_ui-panel-edit-element .textfield,
body #vc_ui-panel-edit-element textarea,
body #vc_ui-panel-edit-element .wpb-textinput, 
body #vc_ui-panel-edit-element .wpb_el_type_font_container input[type=text], 
body #vc_ui-panel-edit-element .vc_autocomplete-inline {
    border: 1px solid #e1e1e1;
}

#vc_ui-panel-edit-element .vc_column select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') !important;
    background-repeat: no-repeat !important;
    background-position: right 5px top 55%;
    background-size: 16px 16px;
    padding: 0 22px 0 8px !important;
}

body #vc_ui-panel-edit-element .vc_autocomplete-field .vc_autocomplete-inline,
body .vc_autocomplete-field .vc_autocomplete {
    padding: 0;
    background: #fff;
    border: 1px solid #e1e1e1 !important;
    border-radius: 3px;
}

/* vc fix for colorpicker jumps */
.vc_edit_form_elements .wp-color-result.wp-picker-open:after {
    display: none;
}

/* vc tabs styles */
.css_box_tabs.wpb_el_type_xstore_title_divider {
    display: flex;
    justify-content: space-between;
}

.et-tabs-css-wrapper .et_tab {
    background: #e6e6e6;
    padding: 8px 17px;
    cursor: pointer;
    position: relative;
    transition: all .2s;
    color: #888;
}

.et-tabs-css-wrapper .et_tab:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.et-tabs-css-wrapper .et_tab:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.et-tabs-css-wrapper .et_tab:hover, .et-tabs-css-wrapper .et_tab.active {
    background: #0473aa;
    color: #fff;
}

.et-tabs-css-wrapper .et_tab + .et_tab:before {
    content: '';
    border-left: 1px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
}

/* slider type */
.xstore-vc-slider {
    display: flex;
    align-items: center;
}

.xstore-slider-field-value-display {
    margin-left: 7px;
    flex-basis: 22px;
    text-align: center;
}

.xstore-vc-slider input[type=range] {
    -webkit-appearance: none;
    background-color: #e1e1e1;
    padding: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

.xstore-vc-slider input[type=range]::-webkit-slider-thumb {
    background-color: #0473aa;
    border: none;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.xstore-vc-slider input[type=range]::-webkit-slider-thumb:hover{
    transform: scale(1.2);
}

/* image select */

.xstore-vc-image-select {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px -5px;
}

.xstore-vc-image-select li {
    position: relative;
    margin: 0 10px 5px;
    display: inline-flex;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.xstore-vc-image-select li:not(.active):hover {
    border-color: #e1e1e1;
}

.xstore-vc-image-select li.active {
    border-color: #222;
}

.xstore-vc-image-select li img {
    border-radius: inherit;
}

.xstore-vc-image-select li.active:before {
    content: "\f147";
    position: absolute;
    top: -5px;
    right: -7px;
    color: #fff;
    border-radius: 50%;
    font-family: dashicons;
    width: 16px;
    height: 16px;
    background: #0A9F13;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    box-shadow: 1px 1px 3px rgba(0,0,0, .2);
}

/* button set */

.xstore-vc-button-set-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 -5px -3px;
    align-items: center;
}

.xstore-vc-button-set-list li {
    background: #bcbcbc;
    padding: 5px 12px;
    margin: 0 5px 3px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.xstore-vc-button-set-list li.active {
    background: #0473aa;
}

/* responsive size */
.xstore-rs-item {
    align-items: center;
    position: relative;
    margin: 0 5px 5px;
}

.xstore-rs-item:not(.hidden) {
    display: inline-flex;
}

.xstore-rs-wrapper {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -5px -5px;
}

.xstore-rs-wrapper .xstore-rs-item input {
    line-height: 1;
    width: 50px !important;
    max-width: 50px;
    padding: 8px 5px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.xstore-rs-wrapper input::-webkit-inner-spin-button {
  display: none;
}

.xstore-rs-trigger.opened .dashicons {
    transform: rotateY(-180deg);
}

.xstore-rs-icon {
    margin-right: 9px;
}

#vc_ui-panel-edit-element .xstore-rs-wrapper .xstore-rs-unit select {
    height: 36px !important;
}

.xstore-rs-unit,
.xstore-rs-trigger {
    margin: 0 0 5px 5px;
}

.promo-text-wrapper {
    position: relative
}
.promo-text-wrapper .close-btn {
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
    color:#C0C0C0;
    font-size:16px;
}
.promo-text-wrapper .close-btn:hover {
    color:#090909;
}


select.hide,
option.hide {
    display: inherit!important;
}

.delete-sidebar {
    width:20px;
    height:20px;
    background: url(../images/et-delete.png) no-repeat center center;
    display: block;
    text-indent: -99999px;
    position: absolute;
    right:50px;
    top:13px;
}

.delete-sidebar:hover {
    cursor: pointer;
}

#etheme_add_sidebar_form:before {
    clear: both;
    display: block;
    content: "";
}

#etheme_add_sidebar_form {
    background: #fcfcfc;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding:10px 15px;
    text-align: center;
    margin:20px 0;
}

#etheme_add_sidebar_form h2 {
    text-align: center
}

#etheme_add_sidebar_form input {
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 10px;
    clear: both;
}
#etheme_add_sidebar_form input:after {
    clear: both;
    display: block;
    content: "";
}

.sidebar-etheme_custom_sidebar .sidebar-name {
    position: relative;
}


.et-icon-selector {
    height: 155px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.et-select-icon {
    margin: 0 10px 10px 0;
    display: inline-block;
    width: 50px;
    cursor: pointer;
    text-align: center;
    padding:3px;
    border:1px solid white;
}

/* etheme search */

.etheme-search {
    position: relative;
    border: 1px solid #e1e1e1;
    flex: 1;
    max-width: 190px;
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
}
.etheme-search input {
    border: none;
    box-shadow: none;
    line-height: 20px;
    width: 100%;
    padding: 7px 30px 7px 10px;
}
.etheme-search input:focus {
    box-shadow: none;
}

.etheme-search .spinner {
    margin: 0;
    width:  30px;
    height: 100%;
    position:  absolute;
    top:  0;
    right:  0;
    background: none;
}
.etheme-search .et-loader {
    height: 100%;
    width: auto;
}

.etheme-search i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    padding-right: 6px;
    font-size:  16px;
}

.et-select-icon.selected {
    border:1px solid #858585;
    cursor: default;
}

.et-select-icon i{
    font-size: 36px;
}

.etheme-import-info {
    display: none;
}

.etheme-import-section p {
    font-size: 14px;
}

.etheme-import-section .etheme-import-info .et-button {
    background-color:#78c20f;
}

.etheme-import-section .etheme-import-info .et-button:hover {
    background-color: #60a30f;
}

.no-default-imported .etheme-import-info {
    display: block;
}

.no-default-imported .etheme-imported-info {
    display: none;
}

.button.button-import-default {
    padding: 15px 30px;
    height: 58px;
    background: #1F80AF;
    border: 1px solid #1F80B0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.etheme-import-section {
    position: relative;
    padding: 0 9px;
}

.loading-info {
    display: none;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
    background: rgba(255,255,255,0.9);
    text-align: center;
    padding-top: 12vh;
}

.import-process .loading-info  {
    display: block
}

.etheme-import-section.import-process .install-base-first {
    display: none;
}

.etheme-import-section.import-process button,
.etheme-import-section.import-process a {
    cursor: default;
}

.import-demos {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    max-height: 1012px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px 0 0;
}
.import-demos::-webkit-scrollbar {
    display: none;
}
.import-demos-header h3 {
    margin-bottom: 0;
}
.import-demos-filters, .import-demos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0;
}

.import-demos-filters{
    color: #888;
    padding: 0;
}
.import-demos-filters .import-demos-filter{
    padding: 0;
}

.import-demos-filters .import-demos-filter li{
    font-size: 14px;
    padding: 7px 15px;
}

.etheme-video{
    position: relative;
}

.etheme-video .spinner{
    background: transparent;
    position: absolute;
    left: 42%;
    top: 40%;
}

.etheme-videos-wrapper:after,
.import-demos:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
    height: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 80%);
}

.import-demos .version-preview {
    margin: 0 30px 30px 0;
    position: relative;
    order: 1;
}

.import-demos .version-screenshot {
    position: relative;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, .2);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
}

.import-demos .version-screenshot:hover {
    transform: translateY(-5px);
}

.import-demos .version-screenshot img {
    display: inherit;
    transition: all 0.3s;
    margin: 0 auto;
    max-width: 100%;
}

.import-demos .version-title {
    display: block;
    margin: 15px 0 35px;
    font-size: 16px;
    color: #222;
}

.install-base-first {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 20;
    top: 180px;
    left:50%;
    width:250px;
    text-align: center;
    transform: translateX(-50%);
    background-size: contain;
    transition: all 0.3s;
}

.install-base-first h1 {
    font-size: 26px;
    font-weight: bold;
}

.install-base-first p {
    font-size: 16px;
}

.import-additional-pages,
.import-demos-wrapper {
    position: relative;
}

.button-import-default + .import-demos-wrapper {
    margin-top: 20px;
}

/* new import demos */

/* theme backend popup */

.et_panel-popup-on {
    overflow: hidden;
}
.et_panel-popup-on:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 9999;
    animation: et-fadeIn .3s linear;
}

.et_panel-popup:empty {
    border-radius: 50%;
}
.et_panel-popup:empty:not(.loading) {
    display: none;
}

.et_panel-popup.loading:before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    animation: rotate .3s linear infinite;
    border: 1px solid #888;
    border-left-color: #e1e1e1;
}

.et_panel-popup {
    position: fixed;
    z-index: 10000;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    box-shadow: 1px 1px 35px rgba(0,0,0,.3);
    transition: all .3s linear;
    animation: et-toTopSecond .3s linear, et-fadeIn .3s linear;
}

.et_panel-popup.size-lg {
    max-width: 500px;
    padding: 40px;
}

.et_panel-popup.size-lg .et_popup-import-content {
    max-height: 500px;
    overflow: auto;
}

.et_panel-popup.size-lg ::-webkit-scrollbar {
    display: none;
}

.et_panel-popup.auto-size {
    max-width: unset;
    width: auto;
}

.et_panel-popup input[type=checkbox] {
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    width: 1rem;
    height: 1rem;
}

.et_panel-popup input[type=checkbox]:checked:before {
    color: #fff;
    transform: scale(.75);
    height: auto;
    width: auto;
    /* dark icon */
    font-size: 21px;
    content: "\f147";
    margin: -3px 0 0 -4px;
    font-family: 'dashicons';
    line-height: 1;
}

.et_panel-popup input[type=checkbox]:checked {
    background: #0b9f17;
    border-color: #0b9f17;
}

.et_panel-popup .et_popup-step {
    animation: et-fadeIn .5s linear;
}

.et-button-cancel {
    position: fixed;
    background-color: #fff;
    color: #222 !important;
    border-color: #e1e1e1;
    left: calc(100% + 7px);
    top: 0;
    padding: 12px;
    border-radius: 50%;
    display: inline-flex;
    font-size: 55%;
    transform: none !important;
}

.et_panel-popup .spinner {
    background: none;
    margin: 0;
    opacity: 1;
    width: auto;
    height: auto;
    position: static;
}

.et_panel-popup .spinner .et-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px;
  width: 20px;
  height: 20px;
}

.et_panel-popup img {
    max-width: 100%;
}

.et_panel-popup .version-img {
    border: 1px solid #e1e1e1;
}

.et_panel-popup .popup-import-head.with-bg p {
    margin: 0;
    font-size: 16px;
}

.et_panel-popup.size-lg .popup-import-head.with-bg p {
    font-size: 22px;
}

.et_panel-popup .popup-import-head.with-bg {
    margin: -20px -20px 20px;
    background: #0073aa;
    padding: 6px 0;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

.et_panel-popup.size-lg .popup-import-head.with-bg {
    margin: -41px -40px 50px;
    padding: 8px 0;
}

.et_panel-popup .et-message {
    animation: et-fadeIn .3s linear;
}

.et_panel-popup p,
.et_panel-popup ul {
    margin: 0 0 20px;
    font-size: 14px;
}

.et_panel-popup ul li {
    position: relative;
    margin: 10px 0 0;
    line-height: 1.8;
    width: 100%;
}
.et_panel-popup ul li.processing > span:first-child, 
.et_panel-popup ul li.processing > span[data-slug] {
    opacity: .5;
}

/*.et_panel-popup ul li.processing:after {
    content: '';
    background: #888;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    width: 14px;
    height: 14px;
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
    border-radius: 50%;
}*/


.et_panel-popup ul li:last-child {
    margin-bottom: 0;
}


.et_step-engine {
    margin-bottom: 20px;
}

.engine-selector{
    display: inline-block;
    padding: 10px;
    transition: all .3s ease-in-out;
    margin: 5px;
    border-radius: 3px;
}

.engine-selector:hover, .engine-selector.active {
    transform: translateY(-7px);
    box-shadow: 0 0px 15px 3px rgba(0,0,0,.1);
}


.et_panel-popup .et_step-requirements {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.et_popup-step.et_step-requirements tr:not(.warning){
  display:none;
}

.et_panel-popup .with-scroll {
    max-height: 180px;
    overflow: hidden;
    overflow-y: auto;
}

.et_popup-import-plugins.ajax-processing li {
    pointer-events: none;
}

.et_popup-import-plugins {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px !important;
}

.et_popup-import-plugins .activated {
    order: 1;
    opacity: 1;
    z-index: 1000;
}

.et_popup-import-plugins .activated input.plugin-setup{
    display: none;
}

.et_popup-import-plugins.ajax-processing:before, 
.et_popup-import-content.ajax-processing:before, 
.et_step-child_theme.ajax-processing:before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
    z-index: 1;
}

.et_popup-import-plugins.ajax-processing:after, 
.et_popup-import-content.ajax-processing:after, 
.et_step-child_theme.ajax-processing:after
{
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    content: '';
    border: 1px solid #e1e1e1;
    border-left-color: #888;
    animation: rotate .7s infinite linear;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 2;
}

.et_install-demo-form {
    line-height: 1.9;
}

.et_popup-import-navigation {
    display: flex;
    justify-content: space-between;
}

.et_popup-import-navigation .et-button {
    flex: auto;
    margin: 0;
}
.et_manual-setup,
.et_manual-setup > div {
    margin-left: 25px;
    animation: et-fadeIn .3s ease-in-out;
}
.et_manual-setup:not(.active) {
    pointer-events: none;
    opacity: .3;
}

/* page import */
.et_page-import {
    margin-left: 6px;
}

input#et_single-page-import::-webkit-input-placeholder {
    color: #999;
}

.et_popup-import-single-page .et_popup-import-content.ajax-processing:after {
    border: none;
    background: #0473aa;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* et-switch */
.et-switch {
    border: 1px solid #e1e1e1;
    display: inline-block;
    width: 35px;
    height: 12px;
    border-radius: 8px;
    background: #e1e1e1;
    vertical-align: middle;
    position: relative;
    top: 4px;
    cursor: pointer;
    user-select: none;
    transition: background 350ms ease;
    margin-left: 15px;
}

.et-switch:after {
    background: #999;
    transform: translate3d(0, -50%, 0);
}

.et-switch:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -3px;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
}

input:checked + .et-switch:after {
    background: #31ab2c;
    transform: translate3d(100%, -50%, 0);
}

/* et-progress bar */

.et_progress {
    position: relative;
    display:inline-block;
    width: 100%;
    height: 20px;
    text-align: start;
    background: #fafafa;
    background-color: #e1e1e1;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .7) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .7) 50%,
        rgba(255, 255, 255, .7) 75%,
        transparent 75%,
        transparent
    );
    background-size: 30px 30px;
    animation: move 2s linear infinite reverse;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 3px;
}
.et_progress::-webkit-progress-bar {
    background: transparent;
}
.et_progress::-webkit-progress-value {
    display: block;
    height: 100%;;
    background-color: #0b9f17;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 30px 30px;
    }
}

@keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 30px 30px;
    }
}

/* theme filters */
.et-filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 20px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    overflow: hidden;
}
.et-filter {
    position: relative;
    font-size: 16px;
    padding: 7px 22px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
    text-overflow: ellipsis;
}
.et-filter:not(:last-child):before {
    border-right: 1px solid #e1e1e1;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.et-filter:after {
    position: absolute;
    bottom: 0;
    content: '';
    height: 2px;
    right: 0;
    width: 0;
    background: #c62829;
    right: 0;
    transition: inherit;
}
.et-filter.active:after, .et-filter:hover:after {
    right: auto;
    width: 100%;
    left: 0;
}
.et-filter.active {
  white-space: normal;
}
.et-filter.active, .et-filter:hover {
    color: #c62829;
}

/* engine filters */
.engine-filter {
    display: inline-flex;
    align-items: center;
}

.engine-filter svg {
    margin-right: 5px;
    min-width: 20px;
    min-height: 20px;
}

/* version demo */

.version-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    transition: all .3s ease-in-out;
}

.version-preview:not(:hover) .version-footer {
    top: calc(50% + 7px);
    opacity: 0;
    visibility: hidden;
}

.purchase-default + .xstore-form {
    display:  none;
}

.xstore-form {
    display: flex;
    flex-wrap: wrap;
}

.xstore-form input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 9px;
    margin-right: -2px;
    line-height: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.xstore-form input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}

.xstore-form .et-button:not(.active) {
    cursor: not-allowed;
    opacity: .75;
}

.xstore-form p {
    margin-top: 15px;
}
 
/* Styles for expired support */

#et_options-support_chat .switch-options{
    min-height: auto;
}
.theme-deactivator label.ui-button {
    background: #259bd2!important;
    border: 1px solid #259bd2!important;
    color: #ffffff!important;
    box-shadow: none!important;
    text-shadow: none!important;
}

/* Import demos responsive */
.import-demos .version-preview {
    width: 33.33%;
    margin: 0; 
    padding: 0 20px;
    box-sizing: border-box; 
    animation: et-toTop .3s linear, et-fadeIn .2s linear;
}

@media only screen and (max-width: 1440px) {
    .et_popup-content {
        max-height: 300px;
        overflow-y: scroll;
    }
}

/* Theme options new responsive by Stas */

@media only screen and (max-width: 1200px) {

    .etheme-theme-info {
        padding: 20px;
    }
    .theme-logo img {
        max-width: 60px;
    }

    .import-demos-header {
        flex-direction: column-reverse;
    }
    .etheme-search {
        max-width: unset;
        width: 100%;
    }

}

@media only screen and (max-width: 960px) {

    .etheme-theme-info {
        padding: 10px;
    }
    .theme-logo img {
        max-width: 30px;
    }

    .theme-version {
        font-size:  7px;
    }

    .etheme-theme-info .activate-note {
        font-size: 0;
        width:  10px;
        padding:  0;
        height:  10px;
        display:  flex;
        align-items:  center;
        justify-content:  center;
    }

    .etheme-theme-info .activate-note:before {
        content:  'N';
        font-size: 7px;
        line-height: 0;
    }

    .etheme-theme-info .activate-note.activated:before {
        content:  'A';
    }

}

@media only screen and (max-width: 782px) {

    .import-demos-header {
        flex-wrap:  wrap;
        justify-content:  center;
    }

    .import-demos-header h3 {
        flex-basis:  100%;
        text-align:  center;
        margin-bottom: 10px;
    }

    .import-demos .version-preview {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .import-demos .version-preview {
        width: 100%;
        margin-bottom: 20px;
    }
}

.et_deactivate-error{
    width: 100%;
    text-align: start;
    font-size: 13px;
    font-weight: normal;
    background-color: #fff;
    color: #000;
    margin: 0;
    margin-top: 10px;
    display: inline-block;
    padding: 15px;
    margin-left: -10px;
    border-left: 4px solid #db3333;
}

#et-core-plugin-update .open-plugin-details-modal{
    display: none;
}

/* Metaboxes */
.et-image-metabox .cmb2-list li label {
    display: inline-block; 
}
.et-image-metabox .cmb2-list li input {
    position: absolute;
    visibility: hidden;
}
.et-image-metabox  .cmb2-list input[type=radio] + label img {
    border: 4px solid #d9d9d9;
}
.et-image-metabox  .cmb2-list input[type=radio]:checked + label img {
    border-color: #0073aa;
}
.et-image-metabox .cmb2-list li {padding-right: 0.4em;margin-bottom: 0.4em;}
.et-image-metabox .cmb2-list li:last-child label {
    border: 4px solid #d9d9d9;
    padding: 0 31px;
    line-height: 120px;
    text-align: center;
    font-size: 32px;
    color: #8d8d8d;
}

.et-small-image-metabox .cmb2-list li:last-child label {
    line-height: 60px;
    font-size: 27px;
    padding: 0 9px;
    margin-top: -3px;
}

.et-image-metabox .cmb2-list li:last-child input[type=radio]:checked + label {
    border-color: #0073aa;
}

.wp-picker-active input.cmb2-colorpicker, .wp-picker-active .button.wp-picker-clear {
    display: inline-block !important;
}

/* there is mask when support chat cannot be activated maybe one day it will be good to use again */
/*#et_options-support_chat .mask{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}*/

/* hide tgmpa warning */
#setting-error-tgmpa {
    display: none;
}

/* For search */
.et-invisible {
    visibility: hidden;
    opacity: 0;
}
.et-hide{
    display: none!important;
}

.et-show{
    display: block!important;
}

/* custom header on page */
.et_header-builder-timer .cmb2-metabox-description {
    color: #c62828;
}

/* single page import */
.et_popup-import-single-page .et-message.et-error.api-error span{
    display: inline-block;
}

/* single product variations */

.et-variation-gallery-images {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.et-variation-gallery-images li {
    position: relative;
    margin: 5px;
}

.et-variation-gallery-images li img {
    max-width: 70px;
} 

.et-variation-gallery-images .delete {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 50px;
    transition: all 0.3s linear;
}

.et-variation-gallery-images li:not(:hover) .delete {
    opacity: 0;
    visibility: hidden;
}

.et-variation-gallery-images .delete:before {
    content: "\f335";
    font-family: Dashicons;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


/* new instagram API */

.etheme-instagram-manual-form{
    margin-bottom: 10px;
}

.etheme-user.new-api .et-tooltip{
    display: none;
}

.etheme-user.old-api {
    background-color: #ffd2d2;
}

a.et-facebook-corporate {
    background: #386793;
    color: #e9eef3;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}
.et-help-content:not(.hidden){
    display: inline-block;
}

.et-help{
    color: #1565c0;
}

.et-tooltip{
    display: inline;
}

.et-tooltip-content{
    display: none;
}

.et-tooltip:hover .et-tooltip-content{
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 999;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 8px 2px #e1e1e1;
}

.et-tooltip:hover:after{
    content: "";
    width: 100%;
    height: 45px;
    position: absolute;
    display: inline-block;
    left: 0;
}

.et_popup-instagram-content b{
    font-size: 18px;
}
.video-title{
    max-height: 20px;
}

.install-with-all{
    pointer-events: none;
    opacity: .3;
}

.selected-to-install .et_popup-import-plugin-btn{
    pointer-events: none;
    opacity: .3;
}

input[name="engine"] {
    display: none;
}

.move-right{
    margin-left: 25px!important;
}

.panel-popup-etheme-instagram-auto{
    padding: 30px 30px 15px 30px;
}

.child-theme-input label{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.child-theme-input input{
    width: 100%;
    display: inline-block;
}
#et_create-child_theme{
    width: 100%;
}
.margin-bottom-10, p.margin-bottom-10{
    margin-bottom: 10px;
}
#et_skip-child_theme {
    background: none;
    color: #555555;
    padding: 0;
    border: none;
    text-transform: none;
    font-size: 14px;
}
.et-not-allowed {
    cursor: not-allowed;
    opacity: .75;
}
span.engine-title {
    display: inline-block;
    width: 100%;
}
.etheme-instagram-save-info:not(.hidden){
    width: 100%;
    display: inline-block;
    padding: 10px 0 0;
}
.etheme-instagram-save-info.info-success{
    color: #0b9f17;
}
.etheme-instagram-save-info.info-error{
    color: #c62828;
}

.etheme-instagram-settings.processing{
    opacity: 0.3;
    pointer-events: none;
}