.et_customize-search {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;
    z-index: 11;
}
.wp-full-overlay.section-open .et_customize-search .et_search-wrapper, 
.wp-full-overlay.in-sub-panel .et_customize-search .et_search-wrapper,
.et_customize-search .et_search-wrapper.with-results {
    /* background: #f5f5f5; */
}
.et_customize-search .et_search-wrapper {
    background: #fff;
    padding: 10px 15px;
}
.et_search-wrapper {
    position: relative;
}
.et_search-wrapper.with-results .et_customizer-search-input {
    background-image: none !important;
}
.et_search-wrapper.empty .et_clear-search {
    display: none;
    animation: et-fadeIn .3s;
}
.et_clear-search {
    color: #888;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

 .rtl .et_clear-search {
    right: auto;
    left: 20px;
}

.et_customizer-search-input {
    width: 100%;
    background: url(../images/search-icon.png) no-repeat calc(100% - 5px) center !important;
    background-size: 18px !important;
    height: 40px;
    border-color: #e1e1e1 !important;
}

.rtl .et_customizer-search-input {
    background-position: 5% !important;
}

.et_customizer-search-input::-webkit-input-placeholder {
    font-style: italic;
    letter-spacing: .5px;
    color: #555;
}
.et_customizer-search-input:focus {
    border-color:#555 !important;
    box-shadow: var(--sm-box-shadow) rgba(var(--border-color-rgb), .5) !important;
}
#et_customizer-search-results:empty {
    display: none;
}
#et_customizer-search-results {
    margin-left: -5px;
    margin-right: -5px;
    padding-bottom: 90px;
}
#et_customizer-search-results .accordion-section {
    z-index: 1;
}
#et_customizer-search-results .accordion-section-title {
    position: relative;
    z-index: 1;
}
#et_customizer-search-results .accordion-section-title:after {
    font: normal 16px/1 dashicons;
    speak: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}
#et_customizer-search-results .accordion-section-title:before {
    margin-right: 4px;
}
#et_customizer-search-results .accordion-section-title:after {
    content: "\f345";
    position: absolute;
    font-size: 14px;
    right: 15px;
    z-index: 1;
    top: calc(50% - 7px) !important;
}
#et_customizer-search-results .accordion-section-title {
    padding-left: 21px;
    padding-bottom: 5px;
    padding-right: 22px;
}
#et_customizer-search-results .accordion-section {
    border: none;
    margin-bottom: 10px;
}
#et_customizer-search-results .search-setting-path {
    display: block;
    padding: 0 20px;
    font-size: 12px;
}
.et_hide-controls{
    height: 0;
    /*transition: height 0.3s ease-in-out;*/
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    /*display: none;*/
}

.et_hide-controls .customize-pane-parent{
    height: 0;
}
.wp-full-overlay-sidebar-content.search-is-opened {
    pointer-events: none;
    overflow: hidden !important;
}